header.header
  div.header-top
    div.content
      div.header-top__inner
        div.contacts
          a.contacts__link(href="mailto:info@shopy.com")
            i.fa.fa-envelope-o(aria-hidden="true")
            span.contacts__link-desc info@shopy.com
          a.contacts__link(href="tel:9965553453")
            i.fa.fa-phone-square(aria-hidden="true")
            span.contacts__link-desc 996 - 5553 - 453
        div.social
          a.social__link(href="#")
            i.fa.fa-facebook(aria-hidden="true")
          a.social__link(href="#")
            i.fa.fa-twitter(aria-hidden="true")
          a.social__link(href="#")
            i.fa.fa-google-plus(aria-hidden="true")
          a.social__link(href="#")
            i.fa.fa-instagram(aria-hidden="true")                 
  div.header-bottom
    div.content
      div.header-bottom__inner
        div.logo-and-menu-wrapper
          a.logo
            img.logo__img(src="images/logo.png", alt="Logo")
          nav.menu
            a.menu__link(href="#") Home
            a.menu__link(href="#products") Products
            a.menu__link(href="#") Hot Deals
            a.menu__link(href="#") About
            a.menu__link(href="#") Contact
        div.user-buttons
          a.user-buttons__btn.user-buttons__btn_search(href="#")
            i.fa.fa-search(aria-hidden="true")
          a.user-buttons__btn.user-buttons__btn_user(href="#")
            i.fa.fa-user(aria-hidden="true")
          a.user-buttons__btn.user-buttons__btn_cart(href="#")
            i.fa.fa-shopping-cart(aria-hidden="true")
            span.user-buttons__btn_cart-counter 5
        div.menu-toggle
            div.menu-toggle__line
            div.menu-toggle__line
            div.menu-toggle__line        
  nav.mobile-menu
    ul
      li
        a.mobile-menu__link(href="#") Home
      li  
        a.mobile-menu__link(href="#") Products
      li 
        a.mobile-menu__link(href="#") Hot Deals
      li  
        a.mobile-menu__link(href="#") About
      li
        a.mobile-menu__link(href="#") Contact            