section.products#products
  div.content
    div.products__inner
      div.product-card
        div.product-look
          div.product-large__sl.product-gallery
            a.product-large#product-large-slide.product-gallery__item(href="./images/Product-large.png" data-fancybox="gallery")
              img.product-large__img(src="./images/Product-large.png" alt="Product image")
            a.product-large.product-gallery__item(href="./images/Product-large2.png" data-fancybox="gallery")
              img.product-large__img(src="./images/Product-large2.png" alt="Product image")
            a.product-large.product-gallery__item(href="./images/Product-large3.png" data-fancybox="gallery")
              img.product-large__img(src="./images/Product-large3.png" alt="Product image")
            a.product-large.product-gallery__item(href="./images/Product-large4.png" data-fancybox="gallery")
              img.product-large__img(src="./images/Product-large4.png" alt="Product image")      
          div.product-min__sl
            div.product-min__sl-slide 
              a.product-min(href="#product-large-slide")
                img.product-min__img(src="./images/Product-min.png" alt="Product miniature image")
            div.product-min__sl-slide
              a.product-min(href="#product-large-slide")
                img.product-min__img(src="./images/Product-min2.png" alt="Product miniature image")
            div.product-min__sl-slide
              a.product-min(href="#product-large-slide")
                img.product-min__img(src="./images/Product-min3.png" alt="Product miniature image")
            div.product-min__sl-slide  
              a.product-min(href="#product-large-slide")
                img.product-min__img(src="./images/Product-min4.png" alt="Product miniature image")      
        div.product-details
          h1.product-details__title FULL WINTER KIT
          h2.product-details__subtitle Half Jacket + Skiny Trousers + Boot leather
          div.product-details__desc
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry
            p Lorem Ipsum is simply dummy text of the printing
            p and typesetting industry  
          form.product-details__form(action="", method="get")
            nav.product-details__nav
              div.choose-size
                span.choose-desc Choose Size
                ul.choose-size__list
                  li.choose-size__size.choose-size__size_active(value="s") s  
                  li.hyphen -
                  li.choose-size__size(value="m") m  
                  li.hyphen -  
                  li.choose-size__size(value="l") l  
                  li.hyphen -  
                  li.choose-size__size(value="xl") xl
                input#size(type="hidden" name="size" value="")  
              div.choose-quantity
                span.choose-desc Choose Quantity
                div.count
                  span.count__elem.count__elem-increment +
                  input.count__result(name="number" type="text" value="1" readonly)
                  span.count__elem.count__elem-decrement -
            div.price-and-tools-wrap
              div.price
                span Price : $120
              div.tools
                a.tool(href="#")
                  i.fa.fa-globe(aria-hidden="true")
                a.tool(href="#")
                  i.fa.fa-cart-plus(aria-hidden="true")
                a.tool#like(href="#like")
                  i.fa.fa-heart-o(aria-hidden="true")
                input.button-order(type="submit" value="Order Now")     
