@font-face {
	font-family: HarmoniaSansProCyr;
	src: url(../fonts/HarmoniaSansProCyr-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: HarmoniaSansProCyr;
	src: url(../fonts/HarmoniaSansProCyr-SemiBd.otf);
	font-weight: 600;
}

@font-face {
	font-family: HarmoniaSansProCyr;
	src: url(../fonts/HarmoniaSansProCyr-Black.otf);
	font-weight: 900;
}