.products {
    width: 100%;
    &__inner {
        width: 100%;
        padding: 100px 0 122px 0;
    }
}

.product-card {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    @include space-between;
}

.product-look {
    width: 100%;
    height: 100%;
    max-width: 321px;
    max-height: 417px;
    margin-right: 20px;
    @include space-between;
    flex-direction: column;
}

.product-large__sl {
    max-width: 100%;
    max-height: 275px;
    overflow: hidden;
    cursor: pointer;
    .slick-list,
    .slick-slide,
    .slick-current
    .slick-active {
        max-height: 275px;
    }
}

.product-large {
    @include flex-center;
    max-height: 275px;
    outline: none;
    &__img {
        max-height: 275px;
        margin: 0 auto;
    }
}

.product-min__sl {
    width: 100%;
    max-height: 69px;
    .slick-list,
    .slick-slide,
    .slick-current
    .slick-active {
        max-height: 69px;
    } 
}

.product-min {
    width: 100%;
    max-width: 95px;
    height: 69px;
    padding: 7px 0;
    @include flex-center;
    background-color: $light-blue-bg;
    outline: none;
    &__img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
    &:hover {
        background-color: $orange;
        opacity: .3;
        transition: .5s;
    }
    &:active {
        background-color: $orange;
        opacity: .3;
    }
}

.slick-slide {
    outline: none;
}

.product-min__sl .slick-slider {
    overflow: hidden;
}

.product-min__sl .slick-list {
    margin: 0 -1px;
}

.product-min {
    margin: 0 1px;
}

.product-details {
    width: 100%;
    max-width: 618px;
    &__title {
        margin-bottom: 17px;
        color: $orange;
        font-size: 52px;
        font-weight: 900;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-left: 3px;
        font-size: 18px;
        font-weight: 600;
    }
    &__desc {
        max-width: 518px;
        margin: 36px 0 40px 3px;
        color: $gray;
        p {
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }        
    }
    &__nav {
        width: 100%;
        margin-bottom: 38px;
        padding: 38px 0 39px 3px;
        @include space-between;
        @include barrier;
    }
}

.choose-size {
    width: 100%;
    max-width: 220px;
    @include space-between-and-items-center;
    &__list {
        width: 100%;
        max-width: 105px;
        @include space-between-and-items-center;
    }
    &__size {
        max-width: 20px;
        color: $black;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        overflow: visible;
        cursor: pointer;
        &:hover {
            @include orange-half-second;
        }
    }
    &__size_active {
        font-size: 18px;
        @include orange-half-second;
    }  
}

.hyphen {
    cursor: default;
}

.choose-quantity {
    width: 100%;
    max-width: 210px;
    @include space-between;
}

.choose-desc {
    font-size: 18px;
    font-weight: 600;
}

.count {
    width: 100%;
    max-width: 62px;
    @include space-between;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    &__elem:hover {
        @include orange-half-second;
    }
    &__result {
        max-width: 20px;
        color: $orange;
        background: inherit;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border: none;
        outline: none;
        cursor: default;
    }
}

.price-and-tools-wrap {
    width: 100%;
    @include space-between-and-items-center;
    margin-left: 3px;
}

.price {
    color: $black;
    font-size: 20px;
    font-weight: 900;
}

.tools {
    width: 100%;
    max-width: 280px;
    @include space-between-and-items-center;
}

.tool {
    color: $black;
    font-size: 18px;
    outline: none;
    &:hover {
        @include orange-half-second;
    }
    .fa-heart {
        color: $red;
    }
}

#like{
    font-size: 19px;
    &:hover {
        color: $red;
        transition: .5s;
    }
}

.button-order {
    padding: 14px 23px;
    color: #fff;
    font-family: HarmoniaSansProCyr, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 1px $orange solid;
    border-radius: 25px;
    background-color: $orange;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        @include orange-half-second;
    }
}

@media (max-width: 850px) {
    .products__inner {
        padding: 50px 0;
    }

    .product-details__title {
        font-size: 42px;
    }

    .product-details__desc {
        margin: 20px 0;
    }

    .product-details__nav {
        padding: 20px 0;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .price-and-tools-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .choose-size {
        margin-bottom: 20px;
    }
}

@media (max-width: 720px) {
    .product-card {
        flex-direction: column;
        align-items: center;
    }   

    .product-look {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .product-large {
        margin-bottom: 20px;
    }

    .product-details__nav,
    .price-and-tools-wrap {
        flex-direction: row;
        align-items: center;
    }

    .product-details__title {
        font-size: 32px;
    } 

    .choose-size {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .product-details__nav,
    .price-and-tools-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .choose-size {
        margin-bottom: 20px;
    }
}